	
<div class="btmbg">
	<div class="btm">
    	<div class="btm-l">
        	<h3>{:C('pin_site_name')}</h3>
            <p><b class="add">Add:</b>{:C('pin_address')}</p>
            <p><b class="tele">Tel:</b>{:C('pin_mobile')}   {:C('pin_tel')} </p>
            <p><b class="email">E-mail:</b>{:C('pin_email')}</p>
        </div>
    	<div class="btm-c">
        	<div class="qrcode-box">
                <img src="__STATIC__images/qrcode.png"><p>扫一扫 了解更多详情</p>
            </div>
        </div>
        {:W('Wg/footer')}
    	
        
    </div>
</div>



<div class="foot">
	<div class="copyright">COPYRIGHT&copy;    2015  &emsp;{:C('pin_site_name')} &emsp; 版权所有  &emsp; {:C('pin_site_icp')} &emsp;  {:C('tech')}</div>
</div>